<div class="formssComp container">
  <div id="wrapper">
      <div id="box">  
        <div class="header">
          <h4><strong>Enter Competition Details</strong></h4>
        </div>
          



          <%= form_for(@competition) do |f| %>
              <% if @competition.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

                  <ul>
                  <% @competition.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>


              <h5>EVENT NAME *</h5>
              <%= f.text_field :name, autofocus: true, class: "form-control" , :placeholder => "eg. Quizzical", :autocomplete => :off%>

              <h5>EVENT CATEGORY *</h5>
              <div class="backg">
                  <%= f.select :category, 
                  options_for_select([ ['Bussiness Plan','Bussiness Plan'],['Dance','Dance'],['Design','Design'],['Debate','Debate'],['Electronics','Electronics'],['Law','Law'],['Management','Management'],['MUN','MUN'],['Presentation','Presentation'],['Programming','Programming'],['Robotics','Robotics'],['Sports','Sports'],['Strategy','Strategy'],['Miscellaneous','Miscellaneous']   ], :selected => @competition.category),{}, { :class => 'span3 controls controls-row select-style' } %>
              </div>

              <h5>BRIEF DESCRIPTION *</h5>
              <%= f.text_field :description, class: "form-control" , :placeholder => "A Bussiness and Economy Quiz", :autocomplete => :off%>

            
              <h5>COLLEGE / COMPANY NAME</h5>
              <%= f.text_field :collegename, class: "form-control" , :placeholder => "Adobe",:autocomplete => :off%>

              <h5>ORGANIZED BY</h5>
              <%= f.text_field :organizedBy, class: "form-control",  :placeholder => "The Quiz Club at Adobe  |  [Fest name/Club name/Fete name]" ,:autocomplete => :off%>

              <h5>LOCATION</h5>
              <%= f.text_field :location, class: "form-control" %>

              <h5>ONLINE/ONSITE EVENT</h5>
              <div class="backg">
                 <%= f.select :onOff, 
                options_for_select([['Online','Online'],['Onsite','Onsite']  ], :selected => @competition.category),{}, { :class => 'span3 controls controls-row select-style' } %>
               </div>
   

              <h5>TOTAL PRIZE MONEY[Rupees]</h5>
              <div class="prizeMoney">
                <input class="form-control"  type="number" name="competition[money]" id="competition_money"
                    min="0" max="100000" step="1000" maxlength="6" >
              </div>

              <h5>WEBSITE</h5>
              <%= f.text_field :linkWebsite, class: "form-control", :placeholder => "Enter the link of the events website"%>

              <h5>FB PAGE</h5>
              <%= f.text_field :linkFb, class: "form-control", :placeholder => "Enter the link of the events FB page" %>

              
               <h5>STARTS AT *</h5>
               
              <div class="y">
                  <div class="x">
                      <%= f.text_field :startDateText, class: "form-control" %>
                  </div>
              </div>


              <h5>ENDS AT</h5>
              <div class="y">
                  <div class="x">
                      <%= f.text_field :endDateText, class: "form-control" %>
                  </div>
              </div>
              



              <%= f.submit class: "btn btn-primary" %>


    
          <% end %>

      </div>
     
    </div>
</div>



             