<div id="register_form">
	<% if user_signed_in? %>
	  <% if current_user.attending_competitions.include?(@competition) %>
	    <%= render 'unregister' %>
	  <% else %>
	    <%= render 'register' %>
	  <% end %>
	<% else %>
		<div class="registerevent">
		        
			<div id="wrapper">
			    	<div id="box">
			        	<div id="top_header">
			          		
			          		<h5>Register for the event</h5>
			        	</div>
			        
				        <div id="inputs">

							<%= form_tag("/meetings/register", :method=>"post") do %>
								<div><%= hidden_field_tag :attending_competition_id, @competition.id %></div>
								<%= text_field_tag :todo_text, params[:todo_text],class: "form-control" ,:placeholder =>"Email", autocomplete: "off"%>
							  


							  <%= submit_tag("Register", :class=>"btn") %>
							<% end %>
		        
	        			</div><!-- inputs end -->
    				</div><!--box ends -->

    		</div><!--wrapper ends -->
		</div><!-- register event ends -->

	<% end %>

 </div>