<% if @compFacet.facets["category"].present? %>
    <% @compFacet.facets["category"]["terms"].each do |filter| %>
      <% unless filter['term'].blank? || filter['term'] == '0' || filter['term'] == 0 %>
        <li><%= link_to "#{filter["term"]} (#{filter["count"]})", "/" %></li>
      <% end %>
    <% end %>
  <% end %>

<div class="container">
  <div id="comp" class="transitions-enabled">
      <% @competitions.each do |competition| %>
        
          <div class="thumbnail masonry-item ">
              <img src="http://placehold.it/320x130" alt="">
              <div class="caption">

                  <!-- <h4 class="pull-right">$64.99</h4> -->
                  <h4><a href="#"><%= competition.name %></a>
                  </h4>
                  <%= competition.description %><br/>
                 
                  
                  <h5 class="pull-right"><span class="glyphicon glyphicon-calendar"></span>  <%= competition.startDateText %></h5>
                  <h5 class="pull-left"><span class="glyphicon glyphicon-tag"></span>  <%= competition.category %></h5>                   
          
              </div>


              <div class="ratings">
                  <h5 style="color:black"><span class="glyphicon glyphicon-map-marker"></span> <%= competition.location %> </h5>
                  <hr style='background-color:#000000;border-width:0;color:#000000;height:1px;line-height:0;text-align:left;width:95%;'/>
                  <p class="pull-right"><%= link_to 'More Info', competition %></p>
                      <i class="fa fa-bookmark-o fa-2x footerIcon1"></i>
                      <!-- <i class="fa fa-heart-o fa-2x footerIcon2"></i> -->
                  </p>

                    
              </div>
            </div>
         
      
      <% end %>
  </div>









    
   <div class="center">
     <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>