

<div class="wrapper">
  <div class="section group">
    <div class="col span_1_of_3">
    
        



        <div class="field" >
            <%= form_tag competitions_path, :method => :get do %>
          
                <%= text_field_tag :search, params[:search],id: "address",class: "form-control" ,:placeholder =>"Search nearby...", autocomplete: "off"%>

                <button type="submit" class="pull-right" id="search">Search Near!</button>
              
            <% end %>
          
        </div><!-- search form over -->
        
         

        <div class="facets">
          <nav>
            <ul>
              <% if @compFacet.facets["category"].present? %>
                  <% @compFacet.facets["category"]["terms"].each do |filter| %>
                    <% unless filter['term'].blank? || filter['term'] == '0' || filter['term'] == 0 %>
                      <li><%= link_to "#{filter["term"]} (#{filter["count"]})", "/competitions?query=#{filter["term"]}" %></li>
                    <% end %>
                  <% end %>
              <% end %>
            </ul>
          </nav>
        </div><!-- facets over -->

    </div><!-- colspan 1/3 over -->

    <div class="col span_2_of_3">
  
        <div id="comp" class="transitions-enabled">
            <% @competitions.each do |competition| %>
              
                <div class="thumbnail masonry-item ">
                    <div class="topp">
                    </div>
                    <div class="caption">

                        <!-- <h4 class="pull-right">$64.99</h4> -->
                        <h4><%= link_to "#{competition.name}".upcase, competition %>
                        </h4>
                        <%= competition.description %><br/>
                       
                       <h5 ><span class="glyphicon glyphicon-tag"></span>  <strong><%= competition.category %></strong></h5>
                        
                        <h5 class="pull-left"><span class="glyphicon glyphicon-calendar"></span>  <%= competition.startDateText %></h5>
                        
                        <h5 style="color:black" class="truncate"><span class="glyphicon glyphicon-map-marker"></span> <%= competition.location %> </h5> 
                    </div>


                    <div class="footer">
                        <hr style='background-color:#000000;border-width:0;color:#000000;height:1px;line-height:0;text-align:left;width:95%;'/>
                        <p class="pull-right moreInfo"><%= link_to 'More Info', competition %></p>      
                    </div>


                  </div>
               
            
            <% end %>
        </div>


    </div>
  </div>
</div>

 



  









    
   <div class="center">
     <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>


