<script type="text/javascript">

      function getLocation(){
          {
              if (navigator.geolocation)
              {
                  navigator.geolocation.getCurrentPosition(showPosition);
              }
              else{x.innerHTML="Geolocation is not supported by this browser.";}
          }

      }

      function showPosition(position) {
          var latitude  = position.coords.latitude;
          var longitude = position.coords.longitude;
          alert('latitude:' + latitude + 'longitude:' + longitude )

       //   This function is supposed to return the current latitude and longitude of user
       //   example: 48.1673341, 17.0830998
      }


      function initialize() {

          var mapOptions = {


         //    How to pass the result from function showPosition to LatLng ?
         //    see the line below:                
         center: new google.maps.LatLng(48.1673341,17.0830998),
              zoom: 13,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map-canvas"),
                  mapOptions);

      }

      google.maps.event.addDomListener(window, 'load', initialize);

  $(document).ready(function(){     //  events before the windows loads
    getLocation();
  });


  </script>

<div class="wrapper">
  <div class="section group">
    <div class="col span_1_of_3">
    <ul class="">
         <% if @compFacet.facets["category"].present? %>
              <% @compFacet.facets["category"]["terms"].each do |filter| %>
                <% unless filter['term'].blank? || filter['term'] == '0' || filter['term'] == 0 %>
                  <li><%= link_to "#{filter["term"]} (#{filter["count"]})", "/competitions?utf8=✓&query=#{filter["term"]}" %></li>
                <% end %>
              <% end %>
          <% end %>
      </ul>
    </div>
    <div class="col span_2_of_3">
  
        <div id="comp" class="transitions-enabled">
            <% @competitions.each do |competition| %>
              
                <div class="thumbnail masonry-item ">
                    <img src="http://placehold.it/320x130" alt="">
                    <div class="caption">

                        <!-- <h4 class="pull-right">$64.99</h4> -->
                        <h4><a href="#"><%= competition.name %></a>
                        </h4>
                        <%= competition.description %><br/>
                       
                        
                        <h5 class="pull-right"><span class="glyphicon glyphicon-calendar"></span>  <%= competition.startDateText %></h5>
                        <h5 class="pull-left"><span class="glyphicon glyphicon-tag"></span>  <%= competition.category %></h5>                   
                
                    </div>


                    <div class="ratings">
                        <h5 style="color:black"><span class="glyphicon glyphicon-map-marker"></span> <%= competition.location %> </h5>
                        <hr style='background-color:#000000;border-width:0;color:#000000;height:1px;line-height:0;text-align:left;width:95%;'/>
                        <p class="pull-right"><%= link_to 'More Info', competition %></p>
                            <i class="fa fa-bookmark-o fa-2x footerIcon1"></i>
                            <!-- <i class="fa fa-heart-o fa-2x footerIcon2"></i> -->
                        </p>

                          
                    </div>
                  </div>
               
            
            <% end %>
        </div>


    </div>
  </div>
</div>

 



  









    
   <div class="center">
     <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
