
<div class="showbody">
	<div class="container">

		<div class="row" id="moreInfo">
			<div class="col-sm-6">
				<div class="boxed center">
					<strong><h1 class="thetitle centre"><%= "#{@competition.name}".upcase %></h1></strong>
				</div>
				<p style="border-style:solid; border-color:#FF0000;" class="redline"></p>

				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1" data-toggle="tab">Where</a></li>	
						<li><a href="#tab2" data-toggle="tab">Schedule</a></li>
								
					</ul>
					<div class="tab-content">
						<div class="tab-pane" id="tab2">
							<h4>Logo</small></h4>
							
							<img src="http://placehold.it/140" class="thumbnail pull-left" alt="Placeholder image">
							
							
							
						    <h4><p><%= @competition.description %></p></h4>	
						  	

							<hr>
							<p>Starts at : <%= @competition.startDateText %> </p>
							<% unless   @competition.endDateText.empty? %>
								<p>Ends at : <%= @competition.endDateText %> </p>
							<% end %>
							
							
						</div><!-- end tab-pane -->
						<div class="tab-pane active" id="tab1">
							<h4><span class="glyphicon glyphicon-map-marker"></span> Our Location </h4>
							
							<iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?q=<%= @competition.location %>&output=embed"></iframe>
							
							<p><h4><%= @competition.location %></h4></p>
						</div><!-- end tab-pane -->
						
						
					</div><!-- end tab-content -->
				</div><!-- end tabbable -->

			</div>
			<div class="col-sm-6">
				<div class="details">

					<header>
						<h1>ESSENTIAL DETAILS</h1>
						 
					</header>

					<ul>
					  	
						  <li class="question">
						    <h3><span class=" glyphicon glyphicon-tag glyphicon1"></span> <p><%= @competition.category %></p></h3>						
						  </li>
					

						  
						  <% unless   @competition.onOff.empty? %>
							  <li class="question">
							    <h3><span class="glyphicon3 glyphicon glyphicon-map-marker"><p><%= @competition.onOff %></p></h3>							
							  </li>
						  <% end %>

						  <% unless   @competition.money.nil? %>
							  <li class="question">
							    <h3><i class="fa fa-fw fa-money"></i><p><%= @competition.money %></p></h3>							
							  </li>
						  <% end %>

						  <% unless   @competition.organizedBy.empty? %>
							  <li class="question">
							    <h3><i class="fa fa-server glyphicon4"></i><p><%= @competition.organizedBy %></p></h3>						
							  </li>
						  <% end %>
						   <% unless   @competition.collegename.empty? %>
							  <li class="question">
							    <h3><i class="glyphicon glyphicon-home glyphicon4"></i><p><%= @competition.collegename %></p></h3>						
							  </li>
						  <% end %>
						   

						  <% unless   @competition.linkFb.empty? %>
							  <li class="question">
							    <h3><i class="fa fa-fw fa-facebook glyphicon5"></i><p><%= @competition.linkFb %></p></h3>							
							  </li>
						  <% end %>

						  <% unless   @competition.linkWebsite.empty? %>
							  <li class="question">
							    <h3><span class=" glyphicon glyphicon6 glyphicon-link"><p><%= @competition.linkWebsite %></p></h3>							
							  </li>
						  <% end %>

					</ul>
					<!-- <button class="button-submit" onclick="calcResults('.form')">SAVE THIS EVENT</button> -->

				</div><!-- details end -->
				
			</div><!-- end col-sm-6 -->
					
		</div>


		
	  
	    
		
		
    	
		
	</div><!--container-->

	
		<div class="thebuttons registerthing">
	        				
						
						<%= render 'register_form' %>
            			
	    </div>

	<div class="thebuttons">
	        <section class="content">
					
					<div class="box bg-1 ">
						<% if @competition.user == current_user %>
							<%= link_to 'Edit', edit_competition_path(@competition),{ :class=>"buttonn" } %>
							<%= link_to 'Participants', participants_competition_path,{ :class=>"buttonn" }%>
						<% end %>
						<%= link_to 'BACK', competitions_path ,{ :class=>"buttonn" }%>
            
					</div>
					
				</section>
	    </div>
	    
</div><!--showbody-->




