<nav class="navbar navbar-default ">
  <div class="container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "CMPETE!", competitions_path ,{class: "navbar-brand upMargin headerFont"}%>
    </div>
    

   <%= form_tag competitions_path, class: " navbar-form navbar-left", :method => :get do %>
      <div class="input-group input-group-lg">
          <div class="form-group">
            <%= text_field_tag :query, params[:query], id: "competition_search", :placeholder => "Search by name,college ...", class: "form-control", autocomplete: "off" %>
          </div>
          
          <div class=”input-group-btn”>
            <input type="submit" value="Search" class="btn btn-default pull-right hidden"/>
          </div>
      
      </div>
    <% end %>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      
      <ul class="nav navbar-nav navbar-right">

        <li class="upMargin">
          <p class="createComp"><a href="/competitions/new" class="btn btn-success btn-small" background-color="#2ecc71"><font color="white" class="headerFont">Create Competition</font></a> </p></li>
        

        <% if user_signed_in? %>
          <li class="upMargin headerFont"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <li class="dropdown upMargin headerFont">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Me<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
           <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Registered Contests", attending_competitions_path(current_user.id) %></li> 
            <li class="divider"></li>
            <li><%= link_to "Created Contests", created_competitions_path(current_user.id) %></li> 

          </ul>
        </li>
        <% else %>
          <li class="upMargin headerFont"><a href="/users/sign_up">Sign up</a></li>
          <li class="upMargin headerFont"><a href="/users/sign_in">Log in</a></li>
        <% end %>
         
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>