<!DOCTYPE html>
<html>
<head>
  <title>Protone1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <script>
    $( document ).ready(function() {
        console.log( "document loaded" );
    });
 
    $( window ).load(function() {
        console.log( "window loaded" );
    });
   </script>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render "layouts/header" unless @skip_header %>
  <div class="flash-message">
    <% flash.each do |name, msg| %>
       <%= content_tag(:div, msg, class: "alert alert-success alert-block fade in") %>
    <% end %>
  </div>

    <%= yield %>

  <%= render "layouts/footer" unless @skip_footer %>

</body>
</html>
